<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionName="1.0"
	package="com.venado.mobile.godspeak"
	android:versionCode="4">
	<uses-sdk
		android:minSdkVersion="15" />
	<application
		android:label="GodSpeak"
		android:icon="@drawable/app_icon">
		<meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyCZhml4MdJ17vtBFkTGtMaGX8esvSpIXI8" />
	</application>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
</manifest>